.nav-wrapper{
    background-color: #6f4037;
}

.pad{
    padding: 0px 15px;
    
}

.slider .indicators .indicator-item.active {
    background-color: #6f4037;
}

.move{
    margin-top: 60px;
    margin-bottom: 20px;
}

.parallax-container{
    min-height: 280px;
    height: auto;
}

.icon-coffee{
    color: #6f4037;
}

.footer-two{
    background: #6f4037;;
}

.footer-one{
    background: #462822;
}


